.tarjeta-receta {
    border: 1px solid #f50606;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #020202;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tarjeta-receta h3 {
    margin-top: 0;
    color: #4CAF50;
}

.tarjeta-receta p {
    color: #ff8080;
    line-height: 1.6;
}

.tarjeta-receta p strong {
    color: #3a2f2f;
}